---
Language: Cpp
BasedOnStyle: Google
Standard: Latest

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
AccessModifierOffset: -2

# Braces - Allman style (on new lines)
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty

# Line length
ColumnLimit: 100

# Includes
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  # Project headers
  - Regex: '^"threveal/'
    Priority: 1
  # System headers
  - Regex: '^<.*>'
    Priority: 2
  # Third-party headers
  - Regex: '.*'
    Priority: 3

# Spaces
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeParens: ControlStatements
SpacesInAngles: Never

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: Align
AlignTrailingComments: true

# Other
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
ReflowComments: true
